@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InfoBer</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css" />
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" asp-area="" asp-controller="Problem" asp-action="Index">InfoBer</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Problem" asp-action="Index">Problems</a>
                </li>
                @if (HttpContextAccessor.HttpContext.Session.GetString("username") != null)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="User" asp-action="Messages">Chats</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="User" asp-action="Profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="User" asp-action="LogOut">Log Out</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="User" asp-action="Index">Log-In</a>
                    </li>
                }
            </ul>
        </div>
    </nav>
    @if(HttpContextAccessor.HttpContext.Session.GetString("Admin")!=null)
    {
        if(HttpContextAccessor.HttpContext.Session.GetString("Admin") !="False")
        {
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">Admin</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="SeeSchools">Schools</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="SeeUsers">Users</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="SeeProblems">Problems</a>
                    </li>
                </ul>
                </div>
            </nav>
        }
    }
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - InfoBer</p>
            <p>Production of Nathan Pire</p>
            <p><a asp-controller="Home" asp-action="tou">the terms of use</a></p>
        </footer>
    </div>
    <script src="~/js/JavaScript.js" asp-append-version="true"></script>

    <script src="~/js/site.min.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
