@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<button type="button" class="btn btn-primary" onclick="window.location.href = '/Problem';">Return to home</button>
