
@{
    ViewData["Title"] = "Messages";
    List<Problem> problems = new List<Problem>();
    problems = ViewBag.messages;
    int i = 0;

}

<h2>Chats</h2>
<table class="table table-hover">
    <caption>Click on it to chat!</caption>
    <thead>
        <tr>
            <th scope="col">Problem</th>
            <th scope="col">Helper</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Problem p in problems)
        {
            if (i % 2 == 0)
            {
                <tr class="table-light" onclick="location.href='/message?id=@p.IdChat';">
                    <th>@p.ProblemTitle</th>
                    <td>@p.Taker.Username</td>
                </tr>
            }
            else
            {
                <tr class="table-dark" onclick="location.href='/message?id=@p.IdChat';">
                    <th>@p.ProblemTitle</th>
                    <td>@p.Taker.Username</td>
                </tr>
            }
            i++;
        }

    </tbody>
</table>
